<div class="col-md-4 col-md-offset-4 content" ng-controller="loginCtrl">
    <h2>登录管理系统</h2>
    <form name="loginfm" ng-submit="doLogin()" role="form" novalidate>
        <div class="form-group" ng-class="{ 'has-error': loginfm.name.$dirty && loginfm.name.$error.required }">
            <input type="text" name="name" placeholder="用户名" class="form-control" ng-model="login.name" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error': loginfm.passwd.$dirty && loginfm.passwd.$error.required }">
            <input type="password" name="passwd" placeholder="密码" class="form-control" ng-model="login.passwd" required />
        </div>

        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" name="remberlogin" ng-model="login.remberme"> 记住我
            </label>
        </div>

        <div class="form-group">
            <button type="submit" ng-disabled="loginfm.$invalid" class="btn btn-primary btn-block">登录</button>
        </div>
    </form>
</div>

